h1 {

    color: #AD99FB;
}

h2 {

    color: #AD99FB;
}

h3 {

    color: #b945c;
}

p {

    color: #c7abc8;
}

li {

    color: #8D194A;
}

section {

    background-color: #3200F7;
    max-width: 960;
}

img {
    width: 300px;
}
